@model AllAnnouncementsModel
@{
    ViewData["Title"] = "AllAnnouncements";
}


<div class="row container d-flex col-md-12 mt-5 ">
    <div class=" col-md-8">
        <div class="row justify-content-center">

            @foreach (var a in Model.Announcements)
            {            
                    <div class="col-5ths ">

                        <div class=" rounded m-3 bottom-left border-dark border-right border-bottom border-top ml-1">
                           
                            <div class="card-header">
                                Author: @a.Author
                            </div>
                            <div class="card-body">

                                <p class="card-text">@a.Content</p>
                            </div>
                            <div class="text-center">
                                <a asp-controller="Admins" asp-action="DeleteAnnouncement" asp-area="Administration" asp-route-id="@a.Id" class="btn btn-primary">Delete</a>
                            </div>

                            <div class="card-footer text-muted">
                                Published: @a.PublishedOn
                            </div>

                        </div>
                    </div>
                }
            
        
        </div>
</div>  
    @await Html.PartialAsync("AnnouncementCreatePartial", Model.Announcement)
</div>

@section scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}